*{ /* Reseta o css padrão do navegador */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Faz com a as caixas sempre mantenham o mesmo tamanho não importa se colocarmos paddins ou margins dentro */
}

ul{
    list-style: none;
}

body{
    background-image: url(./assets/bg.jpg); /* Adiciona uma imagem para o backgroud */
    background-position: top center; /* Mantem a imagem no centro e coloca ela no topo da pagina */
    background-size: 100% auto; /* 100% faz com que ela pegue toda a horizontal e Auto faz que ela pegue a vertical */
    background-repeat: no-repeat; /* Faz com que o background não quebre e se repita */
    background-color: #121214;
    }

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
} 

header{
    /*text-align: center;  Divs não tem propriedades de texto então esse códico não funciona */
    padding-top: 32px; /* Define um tamanho para o header, sem isso a animação de carregar a página fica quebrada pois o navegador so carrega o espaço do header depois que a imagem aparece */
    height: calc(120px + 32px); /* faz o calcumo que soma os 32 pixeis do padding ao height */
}

header div{ 
    width: 120px;
    margin: auto; /* alinha o objeto no centro da tela se ele for uma div */
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100% );/* Borda colorida da imagem */
    border-radius: 50%;
    display: flex;/* Sem ele a borda ficaria torta*/
    padding: 4px; /* Preenche a caixa da div fazendo com que a imagem seja empurrada para o centro mostrando a background image */

    transition: transform .3s; /* Se liga diretamente com o transform */

    animation: fromTop .7s .4s backwards; /* Puxa as animações para o header*/ /* O segundo valor é o delay */ /* Backwards faz com que a página já traga previamente as animações e não so quando carregada */
    /*animation-delay: 1s;  faz com que a animação so carrege depois de 1 segundo fazendo que que a imagem não fique quebrada */
}

header div:hover{ /* Muda assim que passar o mouse em cima */
    transform: scale(1.1);
}

header img{
    width: 100%; /* 100% em relação a widht de cima */
    border-radius: 50%;
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto; /* Quando usamos dois valores o primeiro se refere a em cima e embaixo e o segundo aos lados*/
    /**display: flex;
    flex-direction: column; Faz a mesma coisa que display: grid **/
    display: grid;/* Desbloqueia as caixas para que o gap funcione*/
    gap: 24px;
    /*margin-top: 32px; Separa a imagem de perfil do resto da página*/
}

main section{
    animation: fromBottom .7s .2s backwards;/* Adiciona a animação aqui */
}

main section:nth-child(1){ /* Pega ordenadamente as li que são filhas do section */
    animation-delay: 0s;
}

main section:nth-child(2){
    animation-delay: .3s;
}

main section:nth-child(3){
    animation-delay: .6s;
}

section{
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100% );/* Essa cor fica atrás do background colocar da Section Div */
    padding-top: 4px;/* Faz com que a linha apareceça pois a cor está por baixo do backgroud-color do Section Div*/
    border-radius: 10px;

   
}

section div{
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
    /**border-top: 4px solid red;**/
}

section h2{
    /**font-weight: 900;
    font-size: 24px; Esses códigos não são necessários pois o navegador já vem com eles **/ 
    letter-spacing: -0.47px;
}

section p{
    /**font-weight: 400;
    font-size: 16px; todos esse códigos já estão presentes no navegador
    line-height: 160%; (identical to box height, or 26px) */
    letter-spacing: -0.18px;            
    color: #A1A1AA;
}

section ul{
    display: flex; /* Faz com que todos os LI fiquem um do lado do outro */
    flex-wrap: wrap;/* Joga outros elementos da lista para baixo caso não tenha mais espaço para os lados da caixa*/
    gap: 16px;
    margin-top: 24px;
}

section ul li{
    transition: transform .3s;
}

section ul li:hover{
    transform: scale(1.1);
}

.game-list img{
    border-radius: 8px;
    width: 90px;
}

.channel-list img{
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443e54;
}

/* Animation*/
/* Acontece assim que a página é carregada */
@keyframes fromTop{
    from{
        opacity: 0; /* Faz com que a imagem começe transparente */
        transform: translateY(-30px); /* Faz a imagem começar de fora da tela para cima*/
    }

    to{
        opacity: 1;
        transform: translateY(0); /* 0 é a posição atual da imagem parada*/
    }
    
}

@keyframes fromBottom{
    from{
        opacity: 0; 
        transform: translateY(30px); /* Faz a imagem começar de fora da tela para baixo */
    }

    to{
        opacity: 1;
        transform: translateY(0); 
    }
    
}